[submodule "minimap2"]
	path = minimap2
	url = https://github.com/lh3/minimap2
[submodule "BMEAN"]
	path = BMEAN
	url = https://github.com/Malfoy/BMEAN
[submodule "CTPL"]
	path = CTPL
	url = https://github.com/vit-vit/CTPL.git
